.property-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  margin: 5px 0;
  font-size: 14px;
  width: 100%;
}

.property-key {
  font-weight: bold;
  color: #ffffff;
}

.property-value {
  color: #d8d8d8;
}

.trace-button-container {
  display: flex; /* Align buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-top: 10px; /* Space above the button group */
}

.trace-button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.trace-button.active {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.trace-button:hover {
  background-color: #e0e0e0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
}

.type-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.type-checkbox {
  margin-right: 10px;
}

.checkbox-label {
  flex-grow: 1;
}

.legend-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 200px;
  font-family: Arial, sans-serif;
}

.legend-container h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  color: black;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin-right: 10px;
}

.legend-phase-label {
  font-size: 14px;
  color: #333;
}

#awesense-legend-window {
  display: flex;
  align-items: center;
}

#awesense-settings-window {
  display: flex;
  align-items: flex-start;
  width: 100%;
}